<html>
    <head>
        <title>一元二次方程式計算機</title>
    </head>
    <body>
        <h1>一元二次方程式計算機</h1>
        <h3>ax²+bx+c=0</h3>
        <form method="post">
            <label for="a">a=</label>
            <input type="text" id="a" name="a"><br>
            <label for="b">b=</label>
            <input type="text" id="b" name="b"><br>
            <label for="c">c=</label>
            <input type="text" id="c" name="c"><br>
            <input type="submit" name="submit" value="計算">
        </form>
    </body>
